
/* Untuk Tablet */
@media all and (max-width: 1000px) {

    /* MAIN1 */

    .main1-wrapper h1 {
      font-size: 40px;

    }
  
    /* MAIN2 */
    .judul2 h2{
      font-size: 30px;
    }
    .kolom{
      width: 50%;
    }
    .keuntungan img{
      width: 17px;
      height: 22px;
    }
    .kolom p{
      font-size:19;
    }
  
   /* MAIN3 */
    .btn{
        font-size: 14px;
    }
    .judul3 h2{
        font-size: 30px;
    }
    .produk{
      width: 50%;
    }
    .produk img{
      width: 190px;
      height: 240px;
    }
    .lainnya{
     margin: 10px 0;
   }
}
 
  /* Untuk Smartphone */
  @media all and (max-width: 670px) {

    /* HEADER */
    .header-right{
      display: none;
    }
    
    /* Tambahkan CSS untuk menu-icon */
    .menu-icon{
      display: block;
    }

    /* MAIN1 */
    .main1-wrapper h1 {
      font-size: 27px;
      line-height: 36px;
      text-align: center;
    }
    .btn-wrapper{
      text-align: center;
    }
    .main1-wrapper p {
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }

    /* MAIN2 */
    .judul2 h2{
      font-size: 23px;
    }
    .keuntungan{
      width: 50%;
    }
    .keuntungan img{
      width: 14px;
      height: 18px;
    }

   /*  MAIN3 */
    .judul3 h2{
        font-size: 23px;
    }
    .btn{
        font-size: 14px;
    }
    .produk{
      width: 50%;
    }
    .produk img{
      width: 120px;
      height: 165px;
    }
    .lainnya{
      margin: 10px 0;
    }
  }

