
/* Untuk Tablet */
@media all and (max-width: 1000px) {

    /* HEADER */


    /* MAIN1 */

    .main1 h1 {
      font-size: 32px;
      text-align: center;
    }
    .main1 p{
      text-align: center;
    }
    .btn-wrapper{
      text-align: center;
    }
    /* MAIN2 */

  
   /* MAIN3 */
    .btn{
        font-size: 14px;
    }
    .judul3 h2{
        font-size: 30px;
    }
    .produk{
      width: 50%;
    }
    .produk img{
      width: 170px;
      height: 220px;
    }
    .lainnya{
     margin: 10px 0;
   }
}
  /* FOOTER */
  
  /* Untuk Smartphone */
  @media all and (max-width: 670px) {

    /* HEADER */
    .header-right{
      display: none;
    }
    
    /* Tambahkan CSS untuk menu-icon */
    .menu-icon{
      display: block;
    }

    /* MAIN1 */
    .main1 h1 {
      font-size: 27px;
      line-height: 36px;
      text-align: center;
    }
    .btn-wrapper{
      text-align: center;
    }
    .main1 p {
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }

    /* MAIN2 */
    

   /*  MAIN3 */
    .judul3 h2{
        font-size: 23px;
    }
    .btn{
        font-size: 14px;
    }
    .produk{
      width: 50%;
    }
    .produk img{
      width: 140px;
      height: 180px;
    }
    .lainnya{
      margin: 10px 0;
    }
  }
  /* FOOTER */
    }
.container{
  max-width: 1500px; 
  background-color: #e2cecb;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #e2cecb;
  padding: 100px ;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #7e5227 ;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0px;
  bottom: -10px;
  background-color: brown;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: black;
  text-transform: none;
  font-weight: 300;
  color:black;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #fff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba (255,255,255.0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: black;
}
.footer-col .social-links a:hover{
  color: #fff;
  background-color: #fff;
}
