* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}
@font-face {
    font-family: muli;
    src: url('Muli.ttf');
}

@font-face {
    font-family: gelato;
    src: url('GelatoScript.ttf');
}

.i {
    float: right;
    margin-right: 50px;
    width: 20px;
}

header {
    height: 65px;
    width: 100%;
    background-color: #e2cecb;
    position: fixed;
    top: 0;
    z-index: 0;
}
.header-left {
    float: left;
    font-size: 50px;
    color: #7a4f25;
    font-family: gelato;
    line height: 100px;
}

.header-left a {
    padding: 0 25px;
    color: #7a4f25;
    float: left;
}
.header-right {
    float: right;
    margin-right: 50px;
    font-family: muli;
}
.header-right a {
    line-height: 65px;
    padding: 0 20px;
    color: #7a4f25;
    display: block;
    float: left;
    transition: all 0.5s;
}
.header-right a:hover {
    background-color: rgba(219, 159, 159, 0.37);
}

.btn {
    width: 20px;
    margin-top: 20px;
    color: #7a4f25;
}
.btn:hover {
    background-color: rgba(219, 159, 159, 0.37);
}

.input {
    width: 300px;
    padding: 55px;
    font-size: 15px;
    border: 8px solid #e2cecb;
}
.contact-search {
    padding: 0 20px;
    border-radius: 3;
    color: #7a4f25;
}

.contact-submit {
    background-color: #e2cecb;
    color: #7a4f25;
    font-family: muli;
    font-weight: 300;
  }

.btn-header {
    text-align: left;
    margin: 20px 0;
}

.fa {
    margin-right: 5px;
}